@model IEnumerable<EcommerceWeb.ViewModels.CartItem>

@{
    ViewData["Title"] = "Checkout";
}

<!-- Checkout Page Start -->
<<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Billing details</h1>
        <form asp-action="Checkout" asp-controller="Cart" id="checkoutForm">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="form-check my-3">
                        <input type="checkbox" name="GiongKhachHang" class="form-check-input" id="GiongKhachHang" value="false">
                        <label class="form-check-label" for="GiongKhachHang">Giống thông tin khách hàng?</label>
                    </div>
                    <div class="form-item delivery-info">
                        <label class="form-label my-3">Người nhận hàng<sup>*</sup></label>
                        <input type="text" name="HoTen" class="form-control">

                    </div>
                    <div class="form-item delivery-info">
                        <label class="form-label my-3">Địa chỉ nhận hàng<sup>*</sup></label>
                        <input type="text" name="DiaChi" class="form-control" placeholder="123 Lê Lợi, Quận 1">
                    </div>
                    <div class="form-item delivery-info">
                        <label class="form-label my-3">Điện thoại<sup>*</sup></label>
                        <input type="text" name="DienThoai" class="form-control">
                    </div>
                    <div class="form-item mt-3">
                        <label class="form-label my-3">Ghi chú<sup>*</sup></label>
                        <textarea name="GhiChu" class="form-control" spellcheck="false" cols="30" rows="11" placeholder=""></textarea>
                    </div>
                    <div class="form-check my-3">
                        <label class="form-check-label">Chọn phương thức thanh toán</label>
                    </div>
                    <div class="form-check my-3">
                        <input type="radio" name="paymentMethod" class="form-check-input" id="COD" value="COD">
                        <label class="form-check-label" for="COD">Thanh toán khi nhận hàng</label>
                    </div>
                    <div class="form-check my-3">
                        <input type="radio" name="paymentMethod" class="form-check-input" id="Paypal" value="Paypal">
                        <label class="form-check-label" for="Paypal">Thanh toán bằng Paypal</label>
                    </div>
                    <div class="form-check my-3">
                        <input type="radio" name="paymentMethod" class="form-check-input" id="VnPay" value="VnPay">
                        <label class="form-check-label" for="VnPay">Thanh toán bằng VnPay</label>
                    </div>
                    <div class="form-check my-3 hide-cod">
                        @* <button type="submit" name="payment" class="btn border-secondary text-uppercase text-primary w-100 mt-2">Đặt hàng (COD)</button> *@
                        <input type="submit" name="payment" class="btn border-secondary text-uppercase text-primary w-100 mt-2" value="Thanh toán (COD)">
                    </div>
                    <div class="form-check my-3 hide-vnpay">
                        @* <button type="submit" name="payment" class="btn border-secondary text-uppercase text-primary w-100 mt-2">Thanh toán VNPay</button> *@
                        <input type="submit" name="payment" class="btn border-secondary text-uppercase text-primary w-100 mt-2" value="Thanh toán VNPay">
                    </div>
                    <div id="paypal-button-container" class="form-item mt-3 hide-paypal" style="max-width:1000px;"></div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Products</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">
                                            <div class="d-flex align-items-center mt-2">
                                                <img src="~/Hinh/HangHoa/@item.Hinh" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="@item.TenHh">
                                            </div>
                                        </th>
                                        <td class="py-5">@item.TenHh</td>
                                        <td class="py-5">$@item.DonGia</td>
                                        <td class="py-5">@item.SoLuong</td>
                                        <td class="py-5">@item.ThanhTien</td>
                                    </tr>
                                }
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark py-3">Subtotal</p>
                                    </td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">$@Model.Sum(p => p.ThanhTien).ToString("#,##0.00")</p>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->
@section Scripts {
    <script src="https://www.paypal.com/sdk/js?client-id=@ViewBag.PaypalClientId"></script>

    <script>
        $(document).ready(function () {
            $("#GiongKhachHang").change(function () {
                if ($(this).prop("checked")) {
                    $(this).val(true);
                    $(".delivery-info").addClass("d-none");
                } else {
                    $(this).val(false);
                    $(".delivery-info").removeClass("d-none");
                }
            });
        });
         
        $(document).ready(function () {
            // Ẩn các phần tử khi mới tải trang
            $(".hide-paypal").hide();
            $(".hide-cod").hide();
            $(".hide-vnpay").hide();

            // Theo dõi sự thay đổi của các radio button
            $("input[name='paymentMethod']").change(function () {
                if ($("#COD").is(":checked")) {
                    $(".hide-paypal").hide();
                    $(".hide-vnpay").hide();
                    $(".hide-cod").show();
                } else if ($("#Paypal").is(":checked")) {
                    $(".hide-paypal").show();
                    $(".hide-cod").hide();
                    $(".hide-vnpay").hide();
                } else if ($("#VnPay").is(":checked")) {
                    $(".hide-paypal").hide();
                    $(".hide-cod").hide();
                    $(".hide-vnpay").show();
                } else {
                    $(".hide-paypal").hide();
                    $(".hide-cod").hide();
                    $(".hide-vnpay").hide();
                }
            });
        });

        //button payment
        paypal.Buttons({
            style: {
                layout: 'vertical',
                color: 'silver',
                tagline: 'false'
            },
            createOrder: (data, actions) => {
                // const form = document.getElementById('checkoutForm');
                // const formData = new FormData(form);
                // const formObject = Object.fromEntries(formData.entries());

                return fetch("/Cart/create-paypal-order", {
                    method: "POST",
                    // headers: {
                    //     'Content-Type': 'application/json'
                    // },
                    // body: JSON.stringify({
                    //     // Gửi dữ liệu form cùng với yêu cầu
                    //     ...formObject
                    // })
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then(error => { throw error; });
                    }
                    return response.json();
                }).then((order) => order.id)
                    .catch(error => alert(`Error creating order: ${error.message}`));
            },
            onApprove: (data, actions) => {
                const form = document.getElementById('checkoutForm');
                const formData = new FormData(form);
                const formObject = Object.fromEntries(formData.entries());

                return fetch(`/Cart/capture-paypal-order?orderID=${data.orderID}`, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formObject)
                }).then((response) => {
                    if (!response.ok) {
                        return response.json().then(error => { throw error; });
                    }
                    //Đổi địa chỉ tới action thông báo thành công
                    window.location.href = "/Cart/PaymentSuccess";
                }).catch(error => alert(`Error capturing order: ${error.message}`));
            }
        }).render('#paypal-button-container');


    </script>
}