
@{
    ViewData["Title"] = "Success";
}

<div class="container-fluid py-5 col-6 text-center mt-5">
    <img src="~/Hinh/QuangCao/check.png" class="w-25 text-center " />
    <h1 class="text-center text-primary">Thanh toán thành công !</h1>
</div>

