@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<EcommerceWeb.ViewModels.HoaDonVM>
@{
    ViewData["Title"] = "Lịch sử đơn hàng";
}
<div class="container-fluid py-3">
    @await Html.PartialAsync("LichSuDonHangItem", Model)
</div>

<div class="col-12">
    <div class="pagination d-flex justify-content-center mt-5">
        @Html.PagedListPager(Model, page => Url.Action("Search", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions
   {
       LiElementClasses = new[] { "page-item d-inline-block" },
       PageClasses = new[] { "page-link rounded" },
       PreviousElementClass = "rounded",
       NextElementClass = "rounded",
       ActiveLiElementClass = "active",
       DisplayLinkToFirstPage = PagedListDisplayMode.Never,
       DisplayLinkToLastPage = PagedListDisplayMode.Never,
       DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
       DisplayLinkToNextPage = PagedListDisplayMode.Always
   })
    </div>
</div>