@{
    Layout = "_LayoutCustomer";
}
<!-- Single Page Header start -->
@RenderSection("BreadCum", required: false)
<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Thông báo</h5>
            </div>
            <div class="modal-body text-start ">
                <span id="messageContent" class="text-primary">@TempData["MessageUpdateInfo"]</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark text-white" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
      @*   <h1 class="mb-4">Hshop 2024</h1> *@
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        @await Html.PartialAsync("_TimKiemPanel")
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                        <form asp-action="Sort" method="get">
                            <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                               @*  <label for="sort">Sắp Xếp:</label> *@
                                <select id="sort" name="sort" class="border-0 form-select-sm bg-light me-3">
                                    @if(ViewBag.CurrentFilterSort == null)
                                    {
                                        <option value="Mặc định">Mặc định</option>
                                    }
                                    else
                                    {
                                        <option>@ViewBag.CurrentFilterSort</option>
                                    }
                                    <option value="Mặc định">Mặc định</option>
                                    <option value="Tăng dần theo tên">Tăng dần theo tên</option>
                                    <option value="Giảm dần theo tên">Giảm dần theo tên</option>
                                    <option value="Tăng dần theo giá">Tăng dần theo giá</option>
                                    <option value="Giảm dần theo giá">Giảm dần theo giá</option>
                                </select>
                                <button type="submit" class="btn btn-primary text-white">Sắp xếp</button>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            @await Component.InvokeAsync("MenuLoai")
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">Price</h4>
                                    <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                    <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="~/Hinh/QuangCao/nuochoa.png" class="img-fluid w-100 rounded" alt="">
                                    
                                </div>
                                <div class="position-relative mt-5">
                                    <img src="~/Hinh/QuangCao/laptop.png" class="img-fluid w-100 rounded" alt="">
                                    
                                </div>
                                <div class="position-relative mt-5">
                                    <img src="~/Hinh/QuangCao/giay.png" class="img-fluid w-100 rounded" alt="">
                                   
                                </div>
                                <div class="position-relative mt-5">
                                    <img src="~/Hinh/QuangCao/dongho.png" class="img-fluid w-100 rounded" alt="">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->
@section Scripts {
    <script>
        $(document).ready(function () {
            var messageElement = document.getElementById("messageContent");
            if (messageElement && messageElement.innerText.trim() !== "") {
                $('#messageModal').modal('show');
            }
        });
    </script>
}