<form name="SearchForm" asp-action="Search" asp-controller="HangHoa">
    <div class="input-group w-100 mx-auto d-flex">
        <input id="searchText" type="search" class="form-control p-3" placeholder="keywords" name="query" aria-describedby="search-icon-1">
        <button type="submit" id="searchButton" class="input-group-text p-3"><i class="fa fa-search"></i></button>
    </div>
</form>